output_files_26/
v8_output_files/
venv/
logs/
new_data/
output_new_data/
output_files/
demo_v1_output/
demo_v2_output/
demo_v0_output/
demo_v3_output/
demo_v4_output_works/
demo_v5_output/
Input_33_pdfs/
Input_One_Drive_15/
Output_One_Drive_15/
Sample_Output_One_Drive/ 
PAGE_MARKER_REFACTOR.md
other_new_data/
Output_other_new_data/
Simple_Output_new_data/
Simple_Output_new_data_1/
Test_aspect_imgs/
Output_Test_aspect_imgs/
Imm_pdfs/
Imm_Outputs_pdfs/
Imm_Outputs_pdfs.zip
input_folder/